.urbanist {
  font-family: 'Urbanist';
}

.urbanist-semibold {
  font-family: 'Urbanist-SemiBold';
}

.urbanist-bold {
  font-family: 'Urbanist-Bold';
}

.urbanist-extrabold {
  font-family: 'Urbanist-ExtraBold';
}

